@use "./variables";

.home {
	display: flex;
	flex-direction: row;
}

.site-layout-background {
	background: #fff;
	min-height: 100vh;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;

	@include variables.for-medium-screen {
		min-height: auto;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.icon {
	color: variables.$primary-color;
}
