@use "./variables";

.mobile-menu {
	display: block;
	box-sizing: border-box;
	@include variables.for-medium-screen {
		display: none;
	}

	@include variables.animation("fade 0.3s");

	@include variables.keyframes(fade) {
		0% {
			opacity: 0;
			transform: scale(0.1);
			-webkit-transform: scale(0.1);
			-moz-transform: scale(0.1);
			-ms-transform: scale(0.1);
			-o-transform: scale(0.1);
		}

		50% {
			opacity: 0.5;
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-ms-transform: scale(1.1);
			-o-transform: scale(1.1);
		}

		100% {
			opacity: 1;
			transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
		}
	}
}
