@use "./variables";

.trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: variables.$primary-light-color;
}

.logo {
	box-sizing: border-box;
	font-size: 22px;
	font-weight: bold;
	padding: 32px 0px;
	color: #fff;
	text-align: center;
}
.header {
	width: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-right {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 20px;

		@include variables.for-medium-screen {
			width: 50%;
		}

		input {
			font-size: 14px;
		}

		.input {
			border-radius: 8px;
			width: 100%;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			-ms-border-radius: 8px;
			-o-border-radius: 8px;
		}

		&-profile {
			display: flex;
			align-items: center;

			.notification {
				font-size: 20px;
				color: variables.$primary-color;
				cursor: pointer;
			}

			.avatar {
				margin: 0 32px;
				cursor: pointer;
				background-color: variables.$primary-color;
			}
		}
	}
}
